# For the lightweight web app and ONNX inference
fastapi
gunicorn
uvicorn
numpy
scikit-learn
onnxruntime

# Dependencies required by sentence-transformers for tokenization
transformers>=4.6.0
tokenizers>=0.13.3
